.carousel-thumbs {
  float: left;
  box-sizing: border-box;
  background: url("../images/whatwedo-videos.png") top left repeat-y;
  border-left: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff; }
  @media only screen and (max-width: 730px) {
    .carousel-thumbs {
      background: none;
      border: none; } }
  .carousel-thumbs .what-we-do-new {
    float: left;
    width: 32%;
    color: #ffffff; }
    .carousel-thumbs .what-we-do-new h2 {
      font-family: "chunkfiveroman";
      font-size: 3.6em;
      color: #ffffff;
      line-height: 100%;
      text-transform: uppercase; }
    .carousel-thumbs .what-we-do-new .carousel-bit {
      padding: 20px;
      border-top: 10px solid #ffffff;
      border-bottom: 0; }
    @media only screen and (max-width: 730px) {
      .carousel-thumbs .what-we-do-new {
        float: none;
        width: 100%;
        background-color: #916083;
        border-bottom: 10px solid #ffffff; } }
  .carousel-thumbs .swticher {
    list-style: none;
    margin: 0;
    padding: 0; }
  .carousel-thumbs .video-thumbs {
    float: left;
    width: 68%; }
    .carousel-thumbs .video-thumbs ul {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left;
      border-top: 10px solid #ffffff;
      border-left: 10px solid #ffffff;
      margin-bottom: -10px; }
    .carousel-thumbs .video-thumbs li {
      float: left;
      box-sizing: border-box;
      width: 33.333%;
      border-right: 10px solid #ffffff;
      border-bottom: 10px solid #ffffff; }
    .carousel-thumbs .video-thumbs a {
      display: block; }
      .carousel-thumbs .video-thumbs a img {
        width: 100%;
        display: block; }
    @media only screen and (max-width: 730px) {
      .carousel-thumbs .video-thumbs {
        width: 100%; }
        .carousel-thumbs .video-thumbs ul {
          margin-bottom: 0;
          border: none; }
        .carousel-thumbs .video-thumbs li {
          border: none; } }

.explanation {
  display: none; }
  .explanation.active {
    display: block; }

.switcher {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 0 15px 0; }
  .switcher li {
    float: left;
    padding-right: 10px; }
    .switcher li a {
      display: block;
      padding: 5px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5); }
      .switcher li a.active {
        cursor: default;
        background-color: white; }
