.carousel-thumbs {
  float: left;
  box-sizing: border-box;
  background: url("../images/whatwedo-videos.png") top left repeat-y;
  border-left: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff; }
  @media only screen and (max-width: 730px) {
    .carousel-thumbs {
      background: none;
      border: none; } }
  .carousel-thumbs .what-we-do-new {
    float: left;
    width: 32%;
    color: #ffffff; }
    .carousel-thumbs .what-we-do-new h2 {
      font-family: "chunkfiveroman";
      font-size: 3.6em;
      color: #ffffff;
      line-height: 100%;
      text-transform: uppercase; }
    .carousel-thumbs .what-we-do-new .carousel-bit {
      padding: 20px;
      border-top: 10px solid #ffffff;
      border-bottom: 0; }
    @media only screen and (max-width: 730px) {
      .carousel-thumbs .what-we-do-new {
        float: none;
        width: 100%;
        background-color: #916083;
        border-bottom: 10px solid #ffffff; } }
  .carousel-thumbs .switcher {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0; }
  .carousel-thumbs .video-thumbs {
    float: left;
    width: 68%; }
    .carousel-thumbs .video-thumbs ul {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left;
      border-top: 10px solid #ffffff;
      border-left: 10px solid #ffffff;
      margin-bottom: -10px; }
    .carousel-thumbs .video-thumbs li {
      float: left;
      box-sizing: border-box;
      width: 33.333%;
      border-right: 10px solid #ffffff;
      border-bottom: 10px solid #ffffff; }
    .carousel-thumbs .video-thumbs a {
      display: block; }
      .carousel-thumbs .video-thumbs a img {
        width: 100%;
        display: block; }
    @media only screen and (max-width: 730px) {
      .carousel-thumbs .video-thumbs {
        width: 100%; }
        .carousel-thumbs .video-thumbs ul {
          margin-bottom: 0;
          border: none; }
        .carousel-thumbs .video-thumbs li {
          border: none; } }

.stage {
  background: url(../images/bg-stage.png) top left repeat-x;
  margin: 0 10px 10px 10px;
  position: relative; }
  @media only screen and (max-width: 730px) {
    .stage {
      margin: 10px 0; } }
  .stage .bio {
    display: none; }
    .stage .bio.active {
      display: block; }
  .stage h2 {
    font-family: "FranchiseBold";
    color: #ffffff;
    font-size: 4.0em;
    line-height: 100%;
    font-weight: bold;
    text-transform: uppercase; }
  .stage .title {
    font-size: 2em; }
  .stage .copy {
    padding: 20px 15px;
    width: 68%;
    float: left;
    box-sizing: border-box; }
  .stage .imagery {
    width: 30%;
    float: right; }
    .stage .imagery img {
      width: 100%;
      display: block; }
  .stage .find-out-more {
    font-family: "FranchiseBold";
    color: #ffffff;
    font-size: 2.5em;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none; }
  @media only screen and (max-width: 1015px) {
    .stage .text {
      display: none; } }
  .stage .switcher {
    position: absolute;
    bottom: 15px;
    left: 15px;
    margin: 0;
    padding: 0; }
    .stage .switcher a {
      width: 3px;
      height: 3px;
      text-indent: -9000px; }
    @media only screen and (max-width: 730px) {
      .stage .switcher {
        left: 20px; }
        .stage .switcher li {
          padding-right: 10px; } }
  @media only screen and (max-width: 730px) {
    .stage h2 {
      font-size: 3em; }
    .stage .title {
      font-size: 1.5em; }
    .stage .find-out-more {
      font-size: 1.5em; } }

.explanation {
  display: none; }
  .explanation.active {
    display: block; }

.switcher {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 0 15px 0; }
  .switcher li {
    float: left;
    padding-right: 10px; }
    .switcher li a {
      display: block;
      padding: 5px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5); }
      .switcher li a.active {
        cursor: default;
        background-color: white; }

.forums .imagery {
  position: absolute;
  width: 37px;
  height: 43px; }

.forums h4 {
  font-weight: bold;
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 730px) {
  .forums {
    margin-top: 20px; } }
.body {
  padding-top: 10px; }

#members .header, #members .footer {
  background: #ed991c; }

#tea-and-health .header, #tea-and-health .footer {
  background: #9a5d88; }

#infusions-and-health .header, #infusions-and-health .footer {
  background: #cc2d46; }
#infusions-and-health h2.title {
  color: #cc2d46 !important; }

#media-centre .header, #media-centre .footer {
  background: #1ad74a; }

#contact .header, #contact .footer {
  background: #a37301; }

.footer .tea-cups-count {
  padding-left: 0;
  padding-top: 10px;
  background: none;
  min-height: 100px;
  margin-left: 18px;
  color: #ffffff; }

.footer .container {
  border-top: 20px solid #ffffff; }

#home .footer {
  background: #cec11f !important; }

.footer .site-map ul li a,
.footer .tea-cups-count .figure {
  color: #ffffff; }

.grey-bar.form-bar.new-design {
  background: none; }
  .grey-bar.form-bar.new-design .container {
    background: #916083;
    color: #ffffff; }

.body .grey-bar.form-bar #frmNewsletter h3 {
  color: #ffffff; }

#submitButton {
  font-family: "FranchiseBold";
  font-size: 2.2em;
  text-decoration: none;
  color: #ffffff; }

.button-on-right {
  text-align: right; }

#infusions-and-health .site-navigation ul.sub-level {
  background-color: #cc2d46;
  border: 3px solid #cc2d46; }

#infusions-and-health .site-navigation ul.sub-level a {
  background-color: #cc2d46; }

#infusions-and-health .site-navigation ul.sub-level a:hover {
  background-color: #51121c !important; }

.inner-container {
  border-left: 20px solid #ffffff;
  border-right: 20px solid #ffffff; }
