body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  -webkit-text-size-adjust: none;
  position: relative;
}

.page {
  width: 982px;
  margin: 0 auto;
}
