body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  -webkit-text-size-adjust: none;
  position: relative;
}

/* resets */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0 0 12px 0;
  line-height: 130%;
  -webkit-font-smoothing: antialiased;
}

.cboth {
  clear: both;
}

.cleft {
  clear: left;
}

img {
  border: none;
}

* {
  outline: none;
}

@font-face {
  font-family: 'CoconLight';
  src: url("fonts/CoconLight.eot");
  src: local("fonts/CoconLight"), url("fonts/CoconLight.woff") format("woff"), url("fonts/CoconLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranchiseBold';
  src: url("fonts/FranchiseBold.eot");
  src: local("FranchiseBold"), url("fonts/FranchiseBold.woff") format("woff"), url("fonts/FranchiseBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#home .header {
  background: url("../images/bg-home.jpg") bottom center no-repeat;
}
#home .faqs .title {
  float: right;
}
#home .faqs .copy {
  float: left;
  margin-top: 17px;
}
#home .faqs .copy .question {
  max-width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container {
  width: 982px;
  margin: 0 auto;
  position: relative;
}

.header h1 {
  float: left;
  margin: 20px;
  padding: 0;
}
.header h1 a {
  display: block;
  text-decoration: none;
  text-indent: -9000px;
  background: url("../images/logo.png") 0 0 no-repeat;
  width: 196px;
  height: 145px;
}
.header .site-navigation {
  position: absolute;
  right: 20px;
  top: 145px;
}
.header .site-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .site-navigation ul li {
  display: inline;
  padding-left: 30px;
}
.header .site-navigation ul li a {
  font-family: 'CoconLight';
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.header .search-and-social {
  float: right;
  margin: 20px;
}
.header .search-and-social form {
  float: left;
}
.header .search-and-social form .text-input {
  border: 0;
  padding: 0;
  font-size: 1.5em;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 70px;
  display: inline-block;
  float: left;
  font-family: 'CoconLight';
  color: #ffffff;
  background-color: transparent;
}
.header .search-and-social form .text-input::-webkit-input-placeholder {
  color: #ffffff;
}
.header .search-and-social form .text-input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
.header .search-and-social form .text-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
.header .search-and-social form .text-input:-ms-input-placeholder {
  color: #ffffff;
}
.header .search-and-social form button {
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
  float: left;
}
.header .search-and-social form button i {
  font-size: 1.4em;
}
.header .search-and-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.header .search-and-social ul li {
  display: inline;
  padding-left: 5px;
}
.header .search-and-social ul li a {
  font-family: 'CoconLight';
  font-size: 1.6em;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.header .carousel {
  clear: both;
  background: #ffffff;
  height: 380px;
  padding: 11px 11px 0 11px;
  box-sizing: border-box;
  overflow: hidden;
}
.header .carousel .imagery {
  float: left;
  width: 660px;
}
.header .carousel .imagery img {
  width: 100%;
}
.header .carousel .copy {
  width: 290px;
  background: #666666;
  position: relative;
  height: 100%;
  float: right;
}
.header .carousel .copy .pagination {
  position: absolute;
  bottom: 0;
  right: 0;
}
.header .carousel .copy .pagination ul {
  margin: 0;
  padding: 0 10px 12px 0;
  list-style: none;
}
.header .carousel .copy .pagination ul li {
  display: inline;
  padding: 0 3px;
}
.header .carousel .copy .pagination ul li a {
  background: #e8e8e8;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-decoration: none;
  text-indent: -9000px;
  display: inline-block;
  border: 1px solid #666666;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.header .carousel .copy .pagination ul li a:hover {
  background: #ffffff;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.body .faqs {
  font-family: 'FranchiseBold';
  font-size: 4.2em;
  padding: 10px 20px;
}
.body .faqs .title {
  background: url("../images/bg-faq-title.png") center center no-repeat;
  width: 250px;
  height: 86px;
  text-align: center;
}
.body .faqs .title h2 {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.4em;
  line-height: 86px;
  color: #f5a021;
  -ms-transform: rotate(350deg);
  -webkit-transform: rotate(350deg);
  transform: rotate(350deg);
}
.body .faqs .copy {
  display: block;
}
.body .faqs .count {
  color: lightgrey;
  float: left;
  padding-right: 10px;
}
.body .faqs .question {
  float: left;
  text-transform: uppercase;
  color: #231f20;
}
.body .grey-bar {
  background-color: #e9eeea;
  height: 420px;
}
