
@font-face {
    font-family: 'CoconLight';
    src: url('fonts/CoconLight.eot');
    src: local('fonts/CoconLight'),
    url('fonts/CoconLight.woff') format('woff'),
    url('fonts/CoconLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranchiseBold';
    src: url('fonts/FranchiseBold.eot');
    src: local('FranchiseBold'),
    url('fonts/FranchiseBold.woff') format('woff'),
    url('fonts/FranchiseBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chunkfiveroman';
    src: url('fonts/chunkfive-webfont.eot');
    src: url('fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/chunkfive-webfont.woff2') format('woff2'),
    url('fonts/chunkfive-webfont.woff') format('woff'),
    url('fonts/chunkfive-webfont.ttf') format('truetype'),
    url('fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}
