.carousel-thumbs {
	float: left;
	box-sizing: border-box;
	background: url('../images/whatwedo-videos.png') top left repeat-y;
	border-left: 10px solid #ffffff;
	border-bottom: 10px solid #ffffff;
	
		
	@media only screen and (max-width: 730px) {
		background: none;
		border: none;
	}

	.what-we-do-new {
		float: left;
		width: 32%;
		color: #ffffff;
		
		h2 {
			font-family: "chunkfiveroman";
			font-size: 3.6em;
			color: #ffffff;
			line-height: 100%;
			text-transform: uppercase;
		}
		
		.carousel-bit {
			padding: 20px;
			border-top: 10px solid #ffffff;
			border-bottom: 0;
		}
		
		
		@media only screen and (max-width: 730px) {
			float: none;
			width: 100%;
			background-color: #916083;
			border-bottom: 10px solid #ffffff;			
		}
	}
	
	.switcher {		
		list-style: none;
		margin: 0;
		padding: 0 0 10px 0;
	}

	.video-thumbs {
		float: left;
		width: 68%;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			float: left;
			border-top: 10px solid #ffffff;
			border-left: 10px solid #ffffff;
			margin-bottom: -10px;
		}

		li {
			float: left;		
			box-sizing: border-box;
			width: 33.333%;
			border-right: 10px solid #ffffff;
			border-bottom: 10px solid #ffffff;
		}

		a {
			display: block;
			
			img {
				width: 100%;
				display: block;
			}
		}
		
		@media only screen and (max-width: 730px) {
			width: 100%;
			ul {
				margin-bottom: 0;
				border: none;
			}
			
			li {
				
				border: none;
			}			
		}
	}
}

.stage {
	background: url(../images/bg-stage.png) top left repeat-x;
	margin: 0 10px 10px 10px;
	position: relative;
	
	@media only screen and (max-width: 730px) {
		margin: 10px 0; 
	}
	
	.bio {
		display: none;
		
		&.active {
			display: block;
		}
	}
	
	h2 {
		font-family: "FranchiseBold";
		color: #ffffff;
		font-size: 4.0em;
		line-height: 100%;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.title {
		font-size: 2em;
	}
	
	.copy {
		padding: 20px 15px;
		width: 68%;
		float: left;
		box-sizing: border-box;
	}	
	
	.imagery {
		width: 30%;
		float: right;
		
		img {
			width: 100%;
			display: block;
		}
	}
	
	.find-out-more {
		font-family: "FranchiseBold";
		color: #ffffff;
		font-size: 2.5em;
		line-height: 100%;
		text-transform: uppercase;
		text-decoration: none;
	}
	
	@media only screen and (max-width: 1015px) {
		.text {
			display: none;
		}
	}
	
	.switcher {		
		position: absolute;
		bottom: 15px;
		left: 15px;
		margin: 0;
		padding: 0;
		
		a {
			width: 3px;
			height: 3px;			
			text-indent: -9000px;
		}
		
		@media only screen and (max-width: 730px) {
			left: 20px;
			
			li {
				padding-right: 10px;				
			}
		}
		
	}	
		
	@media only screen and (max-width: 730px) {
		h2 {
			font-size: 3em;
		}
		.title {
			font-size: 1.5em;
			
		}
		.find-out-more {
			font-size: 1.5em;
		}
	}
}


// for js
.explanation {
	display: none;
	
	&.active {
		display: block;
	}
}

.switcher {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 0 15px 0;
	
	li {
		float: left;
		padding-right: 10px;
		
		a {
			display: block;
			padding: 5px;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background-color: rgba(255,255,255, 0.5);
			
			&.active {
				cursor: default;
				background-color: rgba(255,255,255, 1);
			}
		}
	}
}


.forums .imagery {
    position: absolute;
    width: 37px;
    height: 43px;
}

.forums {
	h4 {
		font-weight: bold;
		padding: 0;
		margin: 0;
	}
}

@media only screen and (max-width: 730px){
	.forums {
		margin-top: 20px;
	}
}


// ---- headers
.body {
	padding-top: 10px;
	
}
#members .header {
    background: #ed991c;
}
#tea-and-health .header {
    background: #9a5d88;
}
#media-centre .header {
    background: #1ad74a;
}
#contact .header {
    background: #a37301;
}

